<div class="menu">
  <nav class="navbar navbar-dark pt-4 p-2">
    <h4 class="letra">Oficinas :</h4>
    <span class="custom-br"></span>
    <br>
    <ul class="navbar-nav ">
      <div *ngFor="let tienda of listaTiendas$ | async">
        <div [ngSwitch]="tienda.nombre">
          <div *ngSwitchCase="'Central'">
            <li class="nav-item active">
              <div class="d-flex"><h5 class="letra"><span class="dot" [ngClass]="tienda.activa ==true?'activa':'inactiva'"></span> Central</h5></div>
            </li>
            <div class="ms-4" *ngFor="let persona of listaPersonas$ | async">
              <li *ngIf="persona.tienda==tienda.tienda ">
                <ul>
                  <li class="tamaño" [style.color]="persona.cargo=='Jefe'?'yellow':persona.cargo=='Encargado'?'Aqua':'white'">{{persona.nombre | uppercase}}</li>
                </ul>
              </li>
            </div>
          </div>
          <br>
          <div *ngSwitchCase="'Avenida 12'">
            <li class="nav-item active">
              <div class="d-flex"><h5 class="letra"><span class="dot" [ngClass]="tienda.activa ==true?'activa':'inactiva'"></span> Avenida 12</h5></div>
            </li>
            <div class="ms-4" *ngFor="let persona of listaPersonas$ | async">
              <li *ngIf="persona.tienda==tienda.tienda ">
                <ul>
                  <li class="tamaño" [style.color]="persona.cargo=='Jefe'?'yellow':persona.cargo=='Encargado'?'Aqua':'white'">{{persona.nombre | uppercase}}</li>
                </ul>
              </li>
            </div>
          </div>
          <div *ngSwitchDefault>{{tienda.nombre}}</div>
        </div>
      </div>
    </ul>
  </nav>
</div>

