<h2 mat-dialog-title [appTitulos]='false'>Editar Clase {{dataClase.nombre}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="letras">
    <form [formGroup]="formularioClase">
      <input type="text"  formControlName="id" class="form-control" type="hidden" [(ngModel)]="dataClase.id">
      <input type="text"  formControlName="imagen" class="form-control" type="hidden" [(ngModel)]="dataClase.imagen">
      <div class="form-group mb-4">
        <label for="exampleInputEmail1">Nombre Clase</label>
        <input type="text"  formControlName="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese nombre" [(ngModel)]="dataClase.nombre">
        <div class="alert alert-danger" role="alert" *ngIf="formularioClase.get('nombre')?.touched && formularioClase.get('nombre')?.errors?.['required']">
          Campo Nombre Obligatorio
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="exampleInputEmail1">Comisión</label>
        <input type="text"  formControlName="comision" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" readonly placeholder="Ingrese comision" [(ngModel)]="dataClase.comision">
        <div class="alert alert-danger" role="alert" *ngIf="formularioClase.get('comision')?.touched && formularioClase.get('comision')?.errors?.['required']">
          Campo Comisión Obligatorio
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="exampleInputEmail1">Profesor</label>
        <input type="text"  formControlName="profesor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese Profesor" [(ngModel)]="dataClase.profesor">
        <div class="alert alert-danger" role="alert" *ngIf="formularioClase.get('profesor')?.touched && formularioClase.get('profesor')?.errors?.['required']">
          Campo Profesor Obligatorio
        </div>
      </div>
      <div class="form-check mb-4">
        <label  class="form-check-label" for="exampleInputEmail1">Activo</label>
        <input mdbCheckbox class="form-check-input" type="checkbox" formControlName="inscripcionAbierta" [(ngModel)]="dataClase.inscripcionAbierta">
      </div>

      <mat-dialog-actions align="end">
        <button mat-raised-button type="submit"  color="primary" [disabled]="formularioClase.invalid" cdkFocusInitial (click)="guardar()">Guardar</button>
        <button mat-raised-button color="warn" [mat-dialog-close]="true" >Cancelar</button>
      </mat-dialog-actions>
    </form>
  </div>
  <br>
  <br>
</mat-dialog-content>
