<div class="row letras">
  <div class="col-sm-4">
    <div class="card">
      <img src="https://img.freepik.com/foto-gratis/feliz-ciudad-turistica-mapa_329181-477.jpg?w=740&t=st=1663820754~exp=1663821354~hmac=6b1732697db260ba76ae6fad64220b87699283441b45d50da73cae29653e6e0e" alt="Los Angeles">
      <div class="card-body">
        <h5 class="card-title">Conoce nuevos lugares</h5>
        <p class="card-text">Con planes turisticos</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img src="https://img.freepik.com/foto-gratis/mujer-sombrero-sentado-playa-sillas-hermosa-playa-tropical-mujer-relajandose-playa-tropical-isla-koh-nangyuan_335224-1110.jpg?w=740&t=st=1663820840~exp=1663821440~hmac=38591be31343a9578e4de1cb0d4e555e74def9a58d31c5646ca075b6e029b6ee" alt="Los Angeles">
      <div class="card-body">
        <h5 class="card-title">Disfruta las mejores playas</h5>
        <p class="card-text">Lugares exclusivos para visitar</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img src="https://img.freepik.com/foto-gratis/pareja-viajeros-senalando-direcciones_23-2147643192.jpg?w=740&t=st=1663821113~exp=1663821713~hmac=4a8eef095cb3357c2ae2209f0fd254ce1f1752f61bd568659817cb367aed4ef4" alt="Los Angeles">
      <div class="card-body">
        <h5 class="card-title">Viaja en grupo</h5>
        <p class="card-text">Viaja con tus familiares</p>
      </div>
    </div>
  </div>
</div>
