img.img-thumbnail{
    width: 60%;
    height: 60%;
}
[type=radio] {
    position: absolute;
    opacity: 0;
  }
  
  [type=radio]+img {
    cursor: pointer;
    margin-right: 0.5rem;
  }

  [type=radio]:checked + img {
    outline: 5px solid orange;
  }
  

  body {
    margin: 2rem;
    background: #20262E;
    min-height: 200px;
    color: white;
    font-family: 'Arial';
  }
  