extends inicio 

block register   
    div.container.mt-3
        div.jumbotron
            h1(style="color:blue;")!="Registro de Usuario"
            br
            form(action="/register" method="post" enctype="multipart/form-data")
                div.form-group
                    label(for="name") Ingrese su nombre: 
                    input#nombre_login.form-control(type='text', placeholder='username' name='name' required)
                div.form-group
                    label(for="edad") Ingrese su edad: 
                    input.form-control(type='number', placeholder='Edad' name='edad' required)
                div.form-group
                    label(for="username") Ingrese su correo electronico: 
                    input.form-control(type='email', placeholder='Email' name='username' required)
                div.form-group
                    label(for="direccion") Ingrese su dirección: 
                    input.form-control(type='text', placeholder='Dirección' name='direccion' required)
                div.form-group
                    label(for="telefono") Ingrese su numero de telefono con el prefijo internacional: 
                    input.form-control(type='text', placeholder='Teléfono' name='telefono' required)
                div.form-group
                    label(for="password") Ingrese su contraseña:
                    input.form-control(type='password', placeholder='password' name='password' required)
                div.form-group
                    label(for="file") Ingrese su foto o avatar:
                    input#file.form-control(type="file" name="file" required)
                    <br/>
                button.btn.btn-success.mt-3.mb-1(type="submit") Registrar
            hr
            div.text-left
                button.btn.btn-success.mt-3.mb-5(onclick="location.href = '/login'") Ir a Login
                
