<div class="menu">
  <nav class="navbar navbar-dark pt-4 p-2">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item mb-3">
          <a class="nav-link" mat-button  routerLink="inicio">Inicio</a>
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link" mat-button routerLink="estudiantes">Estudiantes</a>
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link" mat-button routerLink="clases">Admin Cursos</a>
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link" mat-button routerLink="cursos">Cursos</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

